.Button {
    display: inline-block;
    padding: 15px 32px;

    border: none;
    border-radius: 5px;

    color: white;

    text-align: center;
    text-decoration: none;
    font-size: 16px;

    cursor: pointer;
    outline: none;
}

.Button-submit. .Button-success {
    background-color: #4CAF50;
}

.Button-blue {
    background-color: #008CBA;
}

.Button-red, .Button-cancel {
    background-color: #f44336;
}

.Button, .Button-grey {
    background-color: #e7e7e7;
    color: black;
}

.Button-black {
    background-color: #555555;
}